html{
    background-color: rgb(77, 99, 80);
}
h1, h2, h3{
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 25px;
}
p{
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    width: 600px;
    margin: 0 auto;
    background-color:rgb(72, 75, 72);
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}